<!DOCTYPE html>
<html>

  <head>

    <meta charset="UTF-8">
    <title>Message Board</title>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-beta1/jquery.min.js"></script>
    <script type="module" src="js/index.js"></script>
    <link rel="stylesheet" href="css/style.css">
    <link rel="icon" type="image/png" href="../assets/B-16x16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="../assets/B-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="../assets/B-96x96.png" sizes="96x96">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">


  </head>
  
  <body>
    
    <div id="container">
      <h1>Big Blue Message Board</h1>

      <div id="new-message">
        
        <div class="row">
          <input id="pass" placeholder="Password" type="password"></input>
          <button id="save">Save</button>
        </div>

        <textarea id="desc" placeholder="New message here..."></textarea>
      </div>

      <ul id="message-list"></ul>

    </div>
  </body>
  </html>