* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

h1 {
  color: rgb(50, 100, 150);
}

body {
  background-image: linear-gradient(to bottom right, rgb(17, 28, 39), rgb(0, 0, 0), rgb(17, 28, 39));
}

button {
  height: 2em;
  border: none;
  padding: 0.5em 1.2em;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  float: right;
  width: 18%;
}

input, textarea {
  padding: 8px;
  background-color: rgb(80, 80, 80);
  border: solid 2px rgb(50, 100, 150);
  border-radius: 3px;
}

ul {
  position: relative;
  margin-top: 2em;
}

li {
  background-color: rgb(60, 60, 60);
  list-style: none;
  border: 3px solid rgb(20, 20, 20);
  border-radius: 5px;
  width: 100%;
  min-height: 4em;
  clear: both;
  font-size: 15px;
  line-height: 1.5em!important;
  margin: 5px auto;
  padding: 25px 20px 40px;
}

li:hover {
  border-color: rgb(75, 75, 75);
}

li span {
  margin-top: 0.5em;
  width: 80%;
}

.row input {
  width: 80%;
}

.postedMessages {
  color: rgb(130, 130, 130);
  font-weight: bold;
  flex-grow: 6;
}

.textDiv {
  display: flex;
  flex-direction: column;
  flex-grow: 4;
}

.deleteButtons {
  height: 2em;
  color: rgb(55, 10, 10);
  background-color: rgb(60, 60, 60);
  font-weight: bold;
  border: solid 3px;
  border-color: rgb(55, 10, 10);
  border-radius: 3px;
  display:flex;
  align-items: center;
  justify-content: center;
}

.deleteButtons:hover {
  color: rgb(95, 10, 10);
  border-color: rgb(95, 10, 10);
  background-color: rgb(90, 90, 90);
}

.timeStamps {
  color: rgb(50, 100, 150);
  font-size: 0.8em;
}

#container {
  position: relative;
  margin: 2em auto;
  width: 800px;
  max-width: 80%;
}

#save {
  display: flex;
  align-items: center;
  justify-content: center;
  color:rgb(90, 90, 90);
  font-weight: bold;
  background-color: rgb(30, 55, 80);
  border: 2px solid rgb(90, 90, 90);
  border-radius: 3px;
}

#save:hover {
  background-color: rgb(40, 90, 140);
  color:rgb(150, 150, 150);
  border-color: rgb(150, 150, 150);
}

#desc {
  list-style: none;
  width: 100%;
  min-height: 4em;
  clear: both;
  font-size: 15px;
  line-height: 1.5em!important;
  margin: 5px auto;
  padding: 25px 20px 40px;
}